<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      最高の楽器に出会えるアプリ
    </h2>
    <p class='service-explain'>
      製作者とプレイヤーをつなげる
    </p>
    <p class='service-explain'>
      コミュニケーションアプリです
    </p>
  </div>

  <%= render "shared/footer" %>